body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #2e7d32;
}

form {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

h2 {
    color: #1565c0;
}
